{% extends "base.html" %}

{% block title %}Profil - {{ user.username }}{% endblock %}

{% block content %}
<h2>Profil for {{ user.username }}</h2>

{% if error %}
    <p>{{ error }}</p>
{% else %}
    <p>Rolle: {{ profile.role }}</p>
    <p>Key Metrics:</p>
    <ul>
        <li>Antall pasienter: {{ profile.key_metrics.number_of_patients }}</li>
        <li>Gjennomsnittlig antall avtaler per pasient: {{ profile.key_metrics.average_appointments_per_patient }}</li>
        <li>Gjennomsnittlig antall pasienter per ukedag (mandag til fredag) de siste 30 dagene: {{ profile.key_metrics.average_patients_per_weekday }}</li>
    </ul>
    <p>Grupper:</p>
    <ul>
        {% for group in groups %}
            <li>{{ group.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'edit_profile' %}">Rediger profil</a>
{% endif %}
{% endblock %}
